@import "tailwindcss";



@theme{

    /* Color */
    --color-text: #131313;
    --color-text_10: #1313131A;
    --color-text_70: #131313B3;
    --color-text_60: #13131399;
    --color-navProfileBorder: #0E7A8133;
    --color-theme: #0E7A81;
    --color-theme_10: #0E7A811A;
    --color-theme_15: #0E7A8126;
    --color-icon: #5A5A5A;
    --color-white_60: #FFFFFF99;
    --color-white_5: #FFFFFF0D;



    /* BreakPoint */
    --breakpoint-mbl: 27rem;
}

*{
    font-family: "Lato", serif;font-family: "Lato", serif;
    font-style: normal;
}