@import "tailwindcss";

@layer{
    .adoption-btn {
        @apply flex justify-center items-center gap-5 border border-theme_15 px-[4.5vw] rounded-2xl hover:rounded-full hover:border-theme hover:bg-theme_10 focus:rounded-full focus:border-theme focus:bg-theme_10 md:py-[2.5vh]
    }
}

@theme{

    /* Color */
    --color-text: #131313;
    --color-text_10: #1313131A;
    --color-text_70: #131313B3;
    --color-text_60: #13131399;
    --color-navProfileBorder: #0E7A8133;
    --color-theme: #0E7A81;
    --color-theme_10: #0E7A811A;
    --color-theme_15: #0E7A8126;
    --color-icon: #5A5A5A;
    --color-white_60: #FFFFFF99;
    --color-white_5: #FFFFFF0D;



    /* BreakPoint */
    --breakpoint-mbl: 27rem;
}

*{
    font-family: "Lato", serif;font-family: "Lato", serif;
    font-style: normal;
}